.m-1 {
  margin: 1rem; }

.my-1 {
  margin: 1rem 0; }

.p-1 {
  padding: 1rem; }

.py-1 {
  padding: 1rem 0; }

.m-2 {
  margin: 2rem; }

.my-2 {
  margin: 2rem 0; }

.p-2 {
  padding: 2rem; }

.py-2 {
  padding: 2rem 0; }

.m-3 {
  margin: 3rem; }

.my-3 {
  margin: 3rem 0; }

.p-3 {
  padding: 3rem; }

.py-3 {
  padding: 3rem 0; }

.m-4 {
  margin: 4rem; }

.my-4 {
  margin: 4rem 0; }

.p-4 {
  padding: 4rem; }

.py-4 {
  padding: 4rem 0; }

.m-5 {
  margin: 5rem; }

.my-5 {
  margin: 5rem 0; }

.p-5 {
  padding: 5rem; }

.py-5 {
  padding: 5rem 0; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 2rem 2rem;
  margin-top: 6rem;
  border-radius: 1rem; }

.container-form {
  -webkit-box-shadow: 0 0 250px #000;
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
  margin: auto;
  margin-top: 6rem; }
  .container-form a {
    color: #fff;
    text-decoration: underline; }

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  line-height: 1.2;
  margin-bottom: 1rem;
  font-size: 2.75rem;
  font-weight: 100;
  text-transform: uppercase; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff; }

.text-primary {
  color: #17632e; }

.text-optional {
  color: #16a6c0; }

.text-light {
  color: #fff; }

.round-img {
  border-radius: 50%; }

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0; }

.bg-primary {
  background-color: #17632e;
  color: #fff; }

.bg-optional {
  background-color: #16a6c0;
  color: #fff; }

.bg-light {
  background-color: #e7ecf1f4;
  color: #333;
  border: #ccc 1px solid; }

.bg-dark {
  background-color: #343a40;
  color: #fff; }

.bg-success {
  background-color: #28a745;
  color: #fff; }

.bg-danger {
  background-color: #dc3545;
  color: #fff; }

.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid; }

.btn {
  display: inline-block;
  background: #e7ecf1f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .btn.btn-primary {
    background-color: #17632e;
    color: #fff; }
    .btn.btn-primary:hover {
      background: #218c41; }
  .btn.btn-dark {
    background-color: #343a40;
    color: #fff; }
    .btn.btn-dark:hover {
      background: #3f474e; }
  .btn.btn-success {
    background-color: #28a745;
    color: #fff; }
    .btn.btn-success:hover {
      background: #2dbc4e; }
  .btn.btn-danger {
    background-color: #dc3545;
    color: #fff; }
    .btn.btn-danger:hover {
      background: #e04b59; }
  .btn:hover {
    background: #626d78;
    color: #fff; }

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #e7ecf1f4;
  color: #333; }
  .alert.alert-primary {
    background-color: #17632e;
    color: #fff; }
  .alert.alert-dark {
    background-color: #343a40;
    color: #fff; }
  .alert.alert-success {
    background-color: #28a745;
    color: #fff; }
  .alert.alert-danger {
    background-color: #dc3545;
    color: #fff; }

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #e7ecf1f4;
  color: #333; }
  .badge.badge-primary {
    background-color: #17632e;
    color: #fff; }
  .badge.badge-dark {
    background-color: #343a40;
    color: #fff; }
  .badge.badge-success {
    background-color: #28a745;
    color: #fff; }
  .badge.badge-danger {
    background-color: #dc3545;
    color: #fff; }

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); }

.table th, .table td {
  padding: 1rem;
  text-align: left; }

.table th {
  background: #e7ecf1f4; }

.form-group {
  margin: 0.6rem 0; }

.form .btn {
  background-image: -webkit-linear-gradient(290deg, #8ceabb 0%, #378f7b 100%);
  background-image: -o-linear-gradient(290deg, #8ceabb 0%, #378f7b 100%);
  background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
  color: #fff;
  width: 100%; }

.form input {
  border: 1px solid #242c37;
  border-radius: 999px;
  background-color: transparent;
  text-align: center; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  color: #fff; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", "sans-serif";
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: #333; }

.align {
  background-color: #354152;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff; }

.dashboard .lead {
  color: #333; }

.create-profile .lead {
  color: #333; }

.profiles-body {
  background-color: #354152; }

a {
  text-decoration: none;
  color: #17632e; }

ul {
  list-style: none; }

img {
  width: 100%; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 2px #17632e;
  opacity: 0.9; }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
    font-size: 1.2rem; }
    .navbar a:hover {
      color: #25a14b; }

.landing {
  position: relative;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh; }
  .landing-inner {
    color: white;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
  grid-template-columns: 2fr 4fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8rem;
  margin-bottom: 1rem; }

.profile-grid {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "top top" "about about" "exp edu" "github github";
  grid-gap: 1rem; }
  .profile-grid .profile-top {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .profile-grid .profile-top img {
      width: 250px; }
    .profile-grid .profile-top .icons a {
      color: white;
      margin: 0 0.3rem; }
      .profile-grid .profile-top .icons a:hover {
        color: #343a40; }
  .profile-grid .profile-about {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: about;
    text-align: center; }
    .profile-grid .profile-about .skills {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
  .profile-grid .profile-exp {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: exp; }
  .profile-grid .profile-edu {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: edu; }
  .profile-grid .profile-exp > div,
  .profile-grid .profile-edu > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: gray 1px dotted; }
    .profile-grid .profile-exp > div:last-child,
    .profile-grid .profile-edu > div:last-child {
      border: none; }
    .profile-grid .profile-exp > div p,
    .profile-grid .profile-edu > div p {
      margin: 0.5rem 0; }
  .profile-grid .profile-github {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: github; }
    .profile-grid .profile-github .repo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .profile-grid .profile-github .repo > div:first-child {
        -webkit-box-flex: 7;
        -ms-flex: 7;
        flex: 7;
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%; }
      .profile-grid .profile-github .repo > div:last-child {
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
