$optional-color: #10d0f1;
$primary-color: #17632e;
$dark-color: #343a40;
$light-color: #e7ecf1f4;
$danger-color: #dc3545;
$success-color: #28a745;
$dark-text-color: #333;
$light-text-color: #fff;
$max-width: 1100px;

// Set Text color based on background
@function set-text-color($color) {
    @if (lightness($color) > 60) {
      @return $dark-text-color;
    } @else {
      @return $light-text-color;
    }
  }
  
  // Set background & text color
  @mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
  }

  // Margin & Padding

$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts{
  //All around margin
  .m-#{$space}{
    margin: #{$space}rem;
  }

  // Vertical margin
  .my-#{$space}{
    margin: #{$space}rem 0;
  }
  //All around padding
  .p-#{$space}{
    padding: #{$space}rem;
  }

  // Vertical padding
  .py-#{$space}{
    padding: #{$space}rem 0;
  }
}