.form{
    
    &-group{
        margin: 0.6rem 0;
    }

    .btn{
        background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
        color: #fff;
        width: 100%;
    }

    input{
        border: 1px solid #242c37;
        border-radius: 999px;
        background-color: transparent;
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    select,
    textarea{
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        color: $light-text-color;
    }
}