@import "config";
@import "utilities";
@import "form";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", "sans-serif";
    font-size: 1rem;
    line-height: 1.6;
    background-color: white;
    color: $dark-text-color;
}

.align{
    background-color: #354152;
    align-items: center;
     display: flex;
    flex-direction: row;
    color: $light-text-color;
}

.profiles-body{
    // background: 
    // linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    // linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    // linear-gradient(315deg, black 25%, transparent 25%),
    // linear-gradient(45deg, black 25%, transparent 25%);	
    // background-size: 2em 2em;
    // background-color: #232323;
    background-color: #354152;
}

a{
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

//Nav Bar
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 2px $primary-color;
    opacity: 0.9;
    ul{
        display: flex;
    }

    a{
        color: $light-text-color;
        padding: 0.45rem;
        margin: 0 0.25rem;
        font-size: 1.2rem;
        &:hover{
            color: lighten($primary-color, 15%);
        }
    }
}

//Landing
.landing{
    position: relative;
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    height: 100vh;

    &-inner{
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

// Profiles
.profile{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}