@import "config";
@import "utilities";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", "sans-serif";
    font-size: 1rem;
    line-height: 1.6;
    background-color: white;
    color: dark-text-color;
}

a{
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

//Nav Bar
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 2px $primary-color;
    opacity: 0.9;
    ul{
        display: flex;
    }

    a{
        color: $light-text-color;
        padding: 0.45rem;
        margin: 0 0.25rem;
        font-size: 1.2rem;
        &:hover{
            color: lighten($primary-color, 15%);
        }
    }
}

//Landing
.landing{
    position: relative;
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    height: 100vh;

    &-inner{
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}